<%- include('../partials/header') %>

<h2>Enter a New FLight</h2>
<form action="/flights" method="POST">
    <labe>Airline:
        <select name="airline" required> 
            <option value="American">American</option>
            <option value="Southwest">Southwest</option>
            <option value="United">United</option>
        </select>
    </label> <br>
    <labe>Airport:
        <select name="airport" required>
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SFO">SFO</option>
        </select>
    </label> <br>
    <labe>Flight Number:
        <input type="number" name="flightNo" required>
        </select>
    </label> <br>
    <labe>Departs:
        <input type="datetime-local" name="departs" value="<%= %>" required>
    </label><br>
    <button type="submit ">Add Flight</button>
</form>

<h1> <%= errorMsg %></h1>

<%- include('../partials/footer') %>